$green-color: rgb(3, 140, 1);
$text-color: white;

.header {
    margin-left: 15vh;
    margin-right: auto;
    margin-top: 2vh;
    background: rgba(101, 251, 163, 0.4);
    width: 92%;
    text-align: center;
    border: 0.5vh solid rgb(0, 255, 153);
    box-shadow: 0 0 1vh 0vh rgb(151, 255, 213);
    padding: 0 0;

    p {
        font-family: 'Coolvetica';
        font-size: 3rem;
        letter-spacing: 1rem;
        color: $text-color;
        margin: 0;
        padding: 0;
    }
}

.parameters {
    margin-left: 15vh;
    margin-right: auto;
    margin-top: 2vh;
    table-layout: fixed;
    width: 92%;
    font-family: sans-serif;

    td {
        background: rgba(101, 251, 163, 0.4);
        text-align: center;
        border: 0.5vh solid rgb(0, 255, 153);
        box-shadow: 0 0 1vh 0vh rgb(151, 255, 213);
        padding: 0 0vh;
        font-size: 3vh;
        color: $text-color;

        #brick,
        #hight {
            margin-left: 1vh;
            size: 3vh;
        }
    }
}

.pyramid-zone {
    margin-left: 15vh;
    margin-right: auto;
    margin-top: 3vh;
    text-align: center;
    table-layout: fixed;
    width: 100%;

    #pyramid {
        width: 100%;
        background: rgba(101, 251, 163, 0.4);
        border: 0.5vh solid rgb(0, 255, 153);
        box-shadow: 0 0 1vh 0vh rgb(151, 255, 213);
        padding: 1vh 0;

        text-align: center;
        color: $text-color;
        font-size: 3vh;
        line-height: 3vh;
        letter-spacing: 1vh;
        font-family: sans-serif;

        .text-animate-hover {
            min-width: auto;
            display: inline-block;
            animation-fill-mode: both;

            &:hover {
                animation: rubberBand 1s;
                color: $green-color;
            }
        }
    }
}

@media (max-width: 700px) {
    .container .header {
        width: 70%;

        p {
            font-size: 1rem;
        }
    }

    .container .parameters {
        width: 70%;

        td {
            font-size: 1rem;

            input[type="range"] {
                width: 100px;
            }
        }
    }

    .container .pyramid-zone {
        margin-left: 22vw;

        #left_block {
            width: 0;
        }

        #pyramid {
            font-size: 0.8rem;
            letter-spacing: 0.2rem;
        }

        #right_block {
            width: 15%;
        }
    }
}