.logo-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 0;
    top: 0;
    right: 0%;
    left: 60%;
    bottom: 0;
    margin: auto;
    opacity: 0;

    svg {
        width: 50%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(30deg);
        z-index: 1;
    }
}

.svg-container {
    stroke: yellow;
    stroke-width: 10px;
}