$green-color: rgb(3, 140, 1);

.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tag {
    top: 1%;
    left: 50%;
}

.tags {
    opacity: 0.6;
    position: absolute;
    width: 20vh;
    height: auto;
}

.bottom-tag {
    bottom: 1%;
    left: 50%;
}

.container {
    width: 100%;
    height: 90%;
    will-change: contents;
    min-height: auto;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.contact-page,
.about-page {
    .text-zone {
        position: absolute;
        left: 25vh;
        top: 45vh;
        width: 35%;
        max-height: 90%;
        vertical-align: middle;
        display: table-cell;
        transform: translateY(-50%);
    }

    h1 {
        font-size: 5vh;
        font-family: 'Coolvetica';
        color: $green-color;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: auto;
        left: auto;
    }

    &::before {
        content: '\2620';
        color: $green-color;
        font-size: 5vh;
        position: absolute;
        top: 10vh;
        left: 20vh;
        opacity: 0.6;
    }

    &::after {
        content: '\2620';
        color: $green-color;
        font-size: 5vh;
        position: absolute;
        top: 80%;
        left: 20vh;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
    }

    span {
        white-space: pre;
    }

    p {
        font-size: 3vh;
        color: white;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
            animation-delay: 1.1s;
        }

        &:nth-of-type(2) {
            animation-delay: 1.2s;
        }

        &:nth-of-type(3) {
            animation-delay: 1.3s;
        }
    }

    .text-animate-hover {
        &:hover {
            color: white;
        }
    }
}