.home-page {

    .text-zone {
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: whitesmoke;
        font-size: xx-large;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: yellow;
            font-size: medium;
            position: absolute;
            margin-top: -10%;
            left: 5%;
            opacity: 0.6;
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: yellow;
            font-size: medium;
            position: absolute;
            margin-top: 10%;
            margin-left: 5%;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 10%;
            height: auto;
            margin-left: 5%;
            opacity: 0;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    .h2 {
        color: blanchedalmond;
        margin-top: 10%;
        font-weight: 400;
        font-size: large;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1.8s backwards;
    }

    .flat-button {
        color: yellow;
        font-size: x-large;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 4px;
        text-decoration: none;
        padding: auto;
        border: 1px solid yellow;
        margin-top: auto;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: yellow;
            color: black;
        }

    }
}