$text-color: white;
$green-color: rgb(3, 140, 1);
$background-color: rgb(18, 11, 43);

.home-page {

    .text-zone {
        position: absolute;
        left: 25vh;
        top: 40vh;
        width: 50vh;
        max-height: 90%;
        transform: translateY(-50%);
    }

    h1 {
        color: $text-color;
        font-size: 5vh;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;


        &::before {
            content: '\2620';
            color: $green-color;
            font-size: 5vh;
            position: absolute;
            top: 0;
            left: -5vh;
            opacity: 0.6;
        }

        &::after {
            content: '\2620';
            color: $green-color;
            font-size: 5vh;
            position: absolute;
            top: 80%;
            left: -5vh;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 10%;
            height: auto;
            margin-left: 5%;
            opacity: 0;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: $text-color;
        margin-top: 5%;
        font-weight: 400;
        font-size: 2vh;
        font-family: sans-serif;
        letter-spacing: 0.5vh;
        animation: fadeIn 1.8s backwards;
    }

    .flat-button {
        color: $green-color;
        font-size: 3vh;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 0.5vh;
        text-decoration: none;
        padding: auto;
        border: 0.5vh solid $green-color;
        margin-top: auto;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: $green-color;
            color: $background-color;
        }

    }

    .grid-container {
        margin-left: 75vh;
        margin-top: 3vh;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2vh;

        .grid-item {
            border: 0.5vh solid $green-color;
            text-align: center;

            img {
                width: 25vh;
            }
        }
    }
}