$text-color: white;
$green-color: rgb(3, 140, 1);
$background-color: rgb(18, 11, 43);

.home-page {

    .text-zone {
        position: absolute;
        left: 12vw;
        top: 40vh;
        width: 30vw;
        min-width: 300px;
        max-height: 90%;
        transform: translateY(-50%);
    }

    h1 {
        color: $text-color;
        font-size: 2rem;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;


        &::before {
            content: '\2620';
            color: $green-color;
            font-size: 2rem;
            position: absolute;
            top: 0;
            left: -4vw;
            opacity: 0.6;
        }

        &::after {
            content: '\2620';
            color: $green-color;
            font-size: 2rem;
            position: absolute;
            top: 80%;
            left: -4vw;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 10%;
            height: auto;
            margin-left: 5%;
            opacity: 0;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: $text-color;
        margin-top: 5%;
        font-weight: 400;
        font-size: 0.8rem;
        font-family: sans-serif;
        letter-spacing: 0.3vw;
        animation: fadeIn 1.8s backwards;
    }

    .flat-button {
        color: $green-color;
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 0.3vw;
        text-decoration: none;
        padding: auto;
        border: 0.2vh solid $green-color;
        border-radius: 1vh;
        margin-top: auto;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: $green-color;
            color: $background-color;
        }

    }

    .grid-container {
        margin-left: 40vw;
        margin-top: 3vh;
        display: grid;
        grid-template-columns: repeat(3, 37vh);
        grid-template-rows: repeat(2, 20vh);
        gap: 2vh;

        .grid-item {
            background: rgba(101, 251, 163, 0.4);
            border: 0.5vh solid rgb(0, 255, 153);
            box-shadow: 0 0 1vh 0vh rgb(151, 255, 213);
            text-align: center;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 700px) {
    .home-page {

        .text-zone {
            top: 10vh;
            left: 35vw;

            h1 {
                font-size: 1.5rem;

                &::before,
                &::after {
                    font-size: 2rem;
                    left: -11vw;
                }
            }
        }

        .grid-container {
            grid-template-columns: repeat(2, 17vh);
            grid-template-rows: repeat(3, 9vh);
            margin-left: 25vw;
            margin-top: 25vh;
        }
    }
}